<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @post.post_id %>
</p>

<p>
  <b>Posted text:</b>
  <%= @post.post_text %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
