<h1>Listing votes</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Num of votes</th>
    <th>User name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @votes.each do |vote| %>
  <tr>
    <td><%= vote.post_id %></td>
    <td><%= vote.num_of_votes %></td>
    <td><%= vote.user_name %></td>
    <td><%= link_to 'Show', vote %></td>
    <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
    <td><%= link_to 'Destroy', vote, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vote', new_vote_path %>
